.input{
    height: 50px;
    width: 70%;
    border-radius: 12px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
input{
    border: none;
    background: none;
    margin-left: 12px;
    flex: 1;
}
input:focus{
    outline: none;
}

button{
    margin-right: 8px;
    background-color : rgb(243, 243, 155);
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 50px;
}